*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
html,body{height: 100%}
    
.sidebar {
    float: left;
    width: 250px;
    height:100% ;
    overflow-y: auto;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    padding: 0px 5px 100px;

}
.sidebar_wrapper{
    padding-bottom: 200px;
}
.sidebar__menu {
    margin: 20px 0 ;
    color: rgb(190,190,190);
}
.sidebar__logo img{
    max-width:180px;
    width: 100%;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-top: 20px;
   
}
.sidebar__menu a{
    color:rgb(190,190,190);
    display: block;
    text-decoration: none;
    padding: 10px 0px;

}
.sidebar__menu svg{
    margin: 0px 15px;

}
.sidebar__menu a.sidebar__menu__selecionado{
    color: rgb(255, 255, 255);
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
    margin-right: 5px;

}
.sidebar__menu__item {
    margin-top: 12px;
    cursor: pointer;
    vertical-align: middle;
    padding-bottom: 12px;
}
.sidebar__menu p.sidebar__menu__tittle {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 7px;
}
.sidebar__menu__item__componente {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block ;
    color: black;
    font-weight: bold;
    font-size: 23px;
    background-color: white; 
    border-radius: 3px;
}
.sidebar__menu__item span{
    font-weight: bold;
    font-size: 14px;
    padding: 0px 10px;
    color: white;
}
.sidebar__menu__item img{
    background-color: rgb(231, 94, 179);
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 3px;

}
.sidebar__playlists {
    padding: 20px 0;
    border-top: 1px solid rgb(40, 40, 40);
}
.sidebar__playlists a{
    margin: 10px 0;
    display: block;
    color: rgb(190,190,190);
    text-decoration:none;

}
.sidebar__playlists a:hover {
    color: white;

}

.main {
    width: calc(100% - 250px);
    background-color: rgb(30, 30, 30);
    height: 100%;
    float: left;
    padding: 15px 38px;
    overflow-y: auto;
}
.main__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;

}
.main-wrapper{
    padding-bottom: 200px;
}
.main__row__title h2{
    color: white;
    
}
.main__row__title {
    width: 100%;

}
.main__col {
    cursor: pointer;
    width: 15.5%;
    margin-right: 1%;
    margin-top: 20px;

    background-color:#282828;
    border-radius: 8px;
    padding: 10px;
    text-align: center;

}
.main__col h3 {
    color: white;
    margin: 8px 0;
}
.main__col p {
    color: rgb(100, 100, 100);
}




.top{
    width: 125px;
    height: 125px;
    border-radius: 3px;
}
.player{
    width: 100%;
    padding: 12px;
    height: 125px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    background-color: rgb(60,60,60);

}
.player__artist{
    width: 20%; 
    padding:15px 15px;
}
.player__artist img {
    max-width: 70px;
    display: inline-block;
    vertical-align: middle;
}
.player__artist h3 {
    display:inline-block;
    color: white;
    font-weight: normal;
    font-size: 20px;
    margin-left: 10px;
    vertical-align: middle;
}

.player__artist h3 > span {
    color: rgb(200,200,200);
    font-size: 13px;
}
.player__control{
    width: 100%;
    text-align: center;
    

}
.player__control__buttons {
    color: white;
    font-size: 18px;
    margin: -5px 15px;

}
.player__control__progress {
    width: 100%;
    max-width: 600px;
    height: 7px;
    margin-top: 20px;
    position: relative;
    border-radius: 8px;
    display: inline-block;
    background-color: rgb(130,130,130)

}
.player__control__progress_2 {
    left: 0;
    top: 0;
    position: absolute;
    width: 0;
    height: 7px;
    border-radius: 8px;
    background-color: white;
}

@media screen and (max-width: 1200px) {
    .main__col{
        width: 20%;
    }
    
}
@media screen and (max-width: 720px) {
    .sidebar{
        display: none;

    }
    .main{
        width: 100%;
    }
    .main__col{
        width: 48%;
        margin-right: 2%
    }
}

.svg-inline--fa.fa-circle-play{
    padding: 15px 12px 0px 12px;
}
.svg-inline--fa.fa-circle-pause{
    padding: 15px 12px 0px 12px;
}